{% extends "layout.html" %}

{% block title %}Ravintolan muokkaus{% endblock %}

{% block content %}
        <h2>Muokkaa ravintolaa {{ restaurant.name }}</h2>
        <form action="/update_restaurant" method="post">
            <p>
                Nimi: <br />
                <input type="text" name="name" value="{{ restaurant.name }}" />
            </p>
            <p>
                Osoite: <br />
                <input type="text" name="address" value="{{ restaurant.address }}" />
            </p>
            <p>
                Nettisivu: <br />
                <input type="text" name="link" value="{{ restaurant.link }}" />
            </p>
            <input type="hidden" name="id" value="{{ restaurant.id }}" />
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Tallenna muutokset" />
        </form>
        <p>
            <a href="/restaurants">Peruuta</a>
        </p>
{% endblock %}