{% extends "layout.html" %}

{% block title %}Arvostelun muokkaus{% endblock %}

{% block content %}
    <h2>Muokkaa arvostelua</h2>
    <form action="/update_review" method="post">
        <p>
            Arvosana: <br />
            <input type="number" name="rating" value="{{ review.rating }}" min="1" max="5" required/>
        </p>
        <p>
            Arvostelu: <br />
            <textarea name="comment" id="comment" rows="8" cols="60" maxlength="1000" required>{{ review.comment }}</textarea>
        </p>
        <input type="hidden" name="id" value="{{ review.id }}" />
        <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Tallenna muutokset" />
    </form>
    <p>
        <a href="/restaurant/{{ restaurant.id }}">Peruuta</a>
    </p>
{% endblock %}