<!DOCTYPE html>
<html>

<head>
  <title>Raflat</title>
</head>

<body>
  <h1>Raflat</h1>
  <p>
    Sovellus Helsinkiläisten ravintoloiden tutkimiseen ja arvosteluun.
  </p>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}
  <p>
    <a href="/restaurants">Selaa ravintoloita</a>
    {% if not session.username %}
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröidy</a>
    {% else %}
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/new_restaurant">Lisää ravintola</a>
    {% endif %}
  </p>


</body>

</html>