{% extends "layout.html" %}

{% block title %}Ravintolan lisäys{% endblock %}

{% block content %}
  <h2>Lisää ravintola</h2>
  <!-- MAIN FORM -->
  <form action="/new_restaurant" method="post">
    <p>
      Nimi: <br />
      <input type="text" name="name" required/>
    </p>
    <p>
      Osoite: <br />
      <input type="text" name="address" required/>
    </p>
    <p>
      Nettisivu: <br />
      <input type="text" name="link" required/>
    </p>

    <!-- Tag selection using checkboxes -->
    <h3>Valitse tagit:</h3>
    {% for tag in tags %}
      <input type="checkbox" name="tags" value="{{ tag.id }}"> {{ tag.name }} <br>
    {% endfor %}
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <button type="submit">Lisää ravintola</button>
    </p>
  </form>

  <!-- TAG CREATION FORM -->
  <h2>Luo uusi tagi</h2>
  <form action="/create_tag" method="post">
    <input type="text" name="new_tag_name" placeholder="Esim. vegaaninen" required />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lisää tagi" />
  </form>
  <p>
    <a href="/">Peruuta</a>
  </p>
{% endblock %}