<!DOCTYPE html>
<html>

<head>
  <title>Ravintolan lisäys</title>
</head>

<body>
    <h1>Lisää ravintola</h1>
    <form action="/new_restaurant" method="post">
        <p>
        Nimi: <br />
        <input type="text" name="name" />
        </p>
        <p>
        Osoite: <br />
        <input type="text" name="address" />
        </p>
        <p>
        Nettisivu: <br />
        <input type="text" name="link" />
        </p>
        <input type="submit" value="Lisää ravintola" />
    </form>
    <p>
        <a href="/">Peruuta</a>
    </p>
</body>

</html>