{% extends "layout.html" %}

{% block title %}Arvostelun poisto{% endblock %}

{% block content %}
      <form action="/remove_review/{{ review.id }}" method="post">
        <p>
          Haluatko varmasti poistaa arvostelun {{ review.text }}?
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" name="continue" value="Jatka" />
        </form>
        <a href="/restaurant/{{ restaurant.id }}">
            <button type="button">Peruuta</button>
        </a>
{% endblock %}
