<!DOCTYPE html>
<html>
    <head>
        <title>Ravintolat</title>
    </head>
    <body>
        <header style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <a href="/">Etusivulle</a>
                <a href="/new_restaurant">Lisää ravintola</a>
                <a href="/search_restaurants">Etsi ravintolaa</a>

            </div>
            
            <div>
                {% if session.username %}
                    <a href="/user/{{ session.username }}">{{ session.username }}</a>
                    <a href="/logout">Kirjaudu ulos</a>
                {% else %}
                    <a href="/login">Kirjaudu sisään</a>
                    <a href="/register">Rekisteröidy</a>
                {% endif %}
            </div>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        <h1>Selaa ravintoloita</h1>

        {% if not restaurants %}
            <p>Ei ravintoloita</p>
        {% else %}
            <ul>
                {% for restaurant in restaurants %}
                    <li>
                        <a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>

