<!DOCTYPE html>
<html>
    <head>
        <title>Ravintolan etsiminen</title>
    </head>
    <body>
        <header style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <a href="/">Etusivulle</a>
                <a href="/restaurants">Selaa ravintoloita</a>
                <a href="/new_restaurant">Lisää ravintola</a>
            </div>
            
            <div>
                {% if session.username %}
                    <a href="/user/{{ session.username }}">{{ session.username }}</a>
                    <a href="/logout">Kirjaudu ulos</a>
                {% else %}
                    <a href="/login">Kirjaudu sisään</a>
                    <a href="/register">Rekisteröidy</a>
                {% endif %}
            </div>
        </header>
        
        <form action="/search_restaurants" method="get">
            <p>
                <label for="query">Hakusana</label>:
                <input type="text" name="query" id="query" value="{{ query }}">
            </p>
            <input type="submit" value="Lähetä">
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        {% if query %}
            <h3>Tulokset</h3>
            {% if results %}
                <ul>
                    {% for restaurant in results %}
                        <li><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Ei löytynyt ravintoloita hakusanalla "{{ query }}"</p>
            {% endif %}
        {% endif %}
    </body>
</html>